{% extends 'layout.html.twig' %}

{% block title %}Modifier la technologie{% endblock %}

{% block main %}
<section class="container my-4 admin-project-edit">
    <h1>Modifier la technologie</h1>
        {{ include('technology/_form.html.twig', {'button_label': 'Modifier'}) }}
    <div class="my-3 d-flex justify-content-end">
        {{ include('technology/_delete_form.html.twig') }}
    </div>
        <a class="btn btn-outline-primary" href="{{ path('admin_technology_index') }}">Retour</a>
</section>
{% endblock %}
