$primary-color: #06BC9B;
$secondary-color: #525d68;
$dark-color: #701F00;
$light-color: #047D67;
$background-color: #f5f6f7;
$footer-background: #023D32;
$linkedin-color: #0e76a8;

$theme-colors: (
    "primary": $primary-color,
    "danger": $dark-color,
);

$main-font: 'Varela Round', sans-serif;
$title-font: 'Roboto', sans-serif;

@mixin text ($font, $font-size) {
  font-family: $font;
  font-size: $font-size;
}
