$primary-color: #06BC9B;
$secondary-color: #525d68;
$dark-color: #701F00;

$theme-colors: (
    "primary": $primary-color,
);

$main-font: 'Varela Round', sans-serif;
$title-font: 'Roboto', sans-serif;

@mixin text ($font, $font-size) {
  font-family: $font;
  font-size: $font-size;
}
