.admin-image img {
  width: 150px;
}

.admin-image-show img {
  width: 500px;
}

.admin-image-edit img {
  margin-top: 20px;
  width: 500px;
}

@media screen and (max-width: 530px) {
  .admin-image-edit img,
  .admin-image-show img {
    width: 300px;
  }
}
