.project-card {
  background-color: $background-color;
  padding: 20px;
}

.project-details h2 {
  color: $primary-color;
}

.project-image img {
  width: 300px;
  border-radius: 15px;
}

.techno i {
  color: $primary-color;
}