{% extends 'layout.html.twig' %}

{% block title %}Amandine HELENE - Administration{% endblock %}

{% block main %}
<section class="container my-4 admin">
    <h1 class="mb-5">Portfolio - Administration</h1>
    <div class="admin-button">
        <a class="btn btn-lg btn-outline-primary" href="{{ path('admin_project_index') }}">Projets</a>
        <a class="btn btn-lg btn-outline-primary" href="{{ path('admin_image_index') }}">Images</a>
        <a class="btn btn-lg btn-outline-primary" href="{{ path('admin_technology_index') }}">Technologies</a>
        <a class="btn btn-lg btn-outline-primary" href="{{ path('admin_user_index') }}">Gestion des utilisateurs</a>
    </div>
</section>
{% endblock %}
