<section class="container-fluid footer">
    <footer class="container text-center py-4">
        <div class="mb-3">
            <a class="mr-4" href="https://github.com/Heldeenn"><i class="fab fa-github fa-3x"></i></a>
            <a class="ml-4" href="https://www.linkedin.com/in/amandine-helene/"><i class="fab fa-linkedin-in fa-3x"></i></a>
        </div>
        <p class="m-0">Copyright © 2020 Amandine HELENE • Web Developer</p>
    </footer>
</section>
