<section class="container project mt-5">
    <h2 class="text-center">Mes différents projets</h2>
    <div class="d-flex flex-wrap justify-content-between mt-4">
        {% for project in projects %}
            <div class="card w-25">
                <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">{{ project.name }}</h3>
                    <a href="#" class="btn btn-outline-primary">En savoir plus</a>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
