{% extends 'layout.html.twig' %}

{% block title %}Edit Project{% endblock %}

{% block main %}
    <section class="container my-4 admin-project-edit">
        <h1>Modifier le projet</h1>
        {{ include('project/_form.html.twig', {'button_label': 'Modifier'}) }}
        <div class="my-3 d-flex justify-content-end">
            {{ include('project/_delete_form.html.twig') }}
        </div>
        <a class="btn btn-outline-primary" href="{{ path('admin_project_index') }}">Retour</a>
    </section>
{% endblock %}
