{% extends 'layout.html.twig' %}

{% block title %}Nouveau projet{% endblock %}

{% block main %}
    <section class="container my-4">
        <h1>Créer un nouveau projet</h1>

        {{ include('project/_form.html.twig') }}

        <a class="btn btn-outline-primary my-4" href="{{ path('admin_project_index') }}">Retour</a>
    </section>
{% endblock %}
